/*  your css code here. If applicable */
.grid-item{
	display: flex;
	justify-content:center;
	align-items:center;
	background-color: rgb(211,211,211);
	height:150px;
	width: 200px;
	border-radius:5px;
	font-size:40px;
	font-sze:40px;
	
}
.grid-container{
	display: grid;
	grid-gap: 10px 10px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	justify-items: center;
}