/*  your css code here. If applicable */
.grid-item{
	display: flex;
	justify-content:center;
	align-items:center;
	background-color: rgb(211,211,211);
	height:150px;
	width: 200px;
	border-radius:5px;
	font-size:40px;
	
}
.grid-container{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px 10px;
}