/*  your css code here. If applicable */
.grid-item{
	background-color: "lightgray";
	height:150px;
	width: 200px;
	border-radius:5px solid;
	font-size:40px;
	
}
.grid-container{
	display: flex;
	justify-content: center;
	align-items: center;
}